@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin');
@import "common";

body,html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 16px;
  color: #cfcfcf;
}
.about {
  background-image: url(../imgs/fondo.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
  color: #fff;
  margin: 0px;
  font-size: 2em;
}

.actions-button {
  margin-top: 2em;
  .contact, .portafolio {
    background-color: #2f937b;
    line-height: 20px;
    max-width: 100px;
    text-decoration: none;
    color: #cfcfcf;
    padding: 10px 30px;
    webkit-transition: 0.5s all;
          transition: 0.5s all;
  }
  .contact{
    border: 2px solid #2f937b;
    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: #2f937b;
    }
  }
  .portafolio {
    border: 2px solid;
    background-color: transparent;
    &:hover {
      background-color: #2f937b;
      border-color: #2f937b;
      color: #fff;
    }
  }
}

.contacto {
  height: 80vh;
}

.container {
  @extend .full-height;
  position: relative;
  color: #cfcfcf;
}

.footer{
  .social-footer {
    height: 100px;
    background-color: #222;
    .social-button {
      border-radius:50%;
      border: 1px solid #cfcfcf;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
      display: inline-block;
      margin: 2em 1em;
      a{color: #cfcfcf; text-decoration: none;}
      &:hover.twitter { 
        background-color: #1da1f2;
        border-color: #1da1f2;
        color: #fff;
      }
      &:hover.facebook { 
        background-color: #3b5998;
        border-color: #3b5998;
        color: #fff;
      }
      &:hover.git { 
        background-color: #333333;
        border-color: #333333;
        color: #fff;
      }
    }
  }
  .tag{
    background-color: #222;
    color: #cfcfcf;
    height: 100px;
    line-height: 100px;
    text-align: right;
    padding-right: 1em;
    span{
      margin: 2em 0.2em;
    }
  }
  .copyright {
    padding: 0 2em;
    background-color: #333;
    .top {
      text-align: right;
      a{
        text-decoration: none;
        color: #cfcfcf;
      }
    }
  }
}

.icon {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 2.5em;
  cursor: pointer;
  a{
    color: #cfcfcf;
    text-decoration: none;
  }
}

.img-container {
  img {
    border-radius: 50%;
    border: 0.2em solid;
  }
}

.portafolio{
  padding: 100px 0;
  background-color: #f1f1f1;
  .title {
    @extend .no-margin;
    @extend .text-center;
    color: #333;
  }
  .card {
    background-color: transparent;
    color: #333;
    margin-top: 1.5em;
    .img {
      /* height: 255px; */
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .caption {
      color: #222;
      padding: 0.5em;
      label {display: block;}
      a {font-size: 0.8em;}
    }
  }
  .more {
    margin-top: 1.5em;
    a {
      color: #333;
      text-decoration: none;
    }
  }
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 0.5em;
  .share-button {
    border-radius:50%;
    border: 1px solid #cfcfcf;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-top: 1em;
    cursor: pointer;
    a{color: #cfcfcf; text-decoration: none;}
    &:hover.twitter { 
      background-color: #1da1f2;
      border-color: #1da1f2;
      color: #fff;
    }
    &:hover.facebook { 
      background-color: #3b5998;
      border-color: #3b5998;
      color: #fff;
    }
    &:hover.git { 
      background-color: #333333;
      border-color: #333333;
      color: #fff;
    }
  }
}

.nav {
  padding: 3em 0;
  background: transparent;
  font-size: 1.1em;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s;
  a {
    color: #cfcfcf;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin:0;
    float: right;

    .nav-item {
      display: inline-block;
      cursor: pointer;
      &.active a{
        color: #2f937b;
      }
      a {
        padding: 1.5em;
        color: #cfcfcf;
        text-decoration: none;
      }
    }
  }
  &.stick{
    background-color: #222;
    padding: 2em 0;
  }

  .responsive {
    display: none;
    background-color: #222;
    &.active {
      display: block;
      ul {
        list-style: none;
        margin:0;
        padding: 0;
        width: 100%;

        text-align: center;
        .nav-item {
          display: block;
          cursor: pointer;
          padding: 1em 0;
          &.active a{
            color: #2f937b;
          }
          a {
            color: #cfcfcf;
            text-decoration: none;
          }
        }
      }
    }
  }

  .menu-opener {
    display: none;
    cursor: pointer;
    float: right;
    position: absolute;
    top: -20px;
    font-size: 2.5em;
    right: 0.5em;
  }
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  video {
    // cubre toda la pantalla
    min-width: 100%;
    min-height: 100%;

    // para que navegador no altere
    width: auto;
    height: auto;

    // Centrarlo
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
} 


@media only screen and (max-width: 960px) {
  .nav {
    .full {
      display: none !important;;
    }
    .menu-opener {
      display: block !important;
    }
  }
}



@media only screen and (max-width: 768px) {
  .social {
    display: none;
  }
  .about {
    font-size: 1.5em;
  }
}

