@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin');
@import "common";

body,html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 16px;
  color: #cfcfcf;
}

.actions-button {
  margin-top: 2em;
  .contact, .portafolio {
    background-color: #2f937b;
    line-height: 20px;
    max-width: 100px;
    text-decoration: none;
    color: #cfcfcf;
    padding: 10px 30px;
    webkit-transition: 0.5s all;
          transition: 0.5s all;
  }
  .contact{
    border: 2px solid #2f937b;
    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: #2f937b;
    }
  }
  .portafolio {
    border: 2px solid;
    background-color: transparent;
    &:hover {
      background-color: #2f937b;
      border-color: #2f937b;
      color: #fff;
    }
  }
}

.container {
  @extend .full-height;
  position: relative;
  color: #cfcfcf;
}

.icon {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 2.5em;
  cursor: pointer;
  a{
    color: #cfcfcf;
    text-decoration: none;
  }
}

.img-container {
  img {
    border-radius: 50%;
    border: 0.2em solid;
  }
}

.portafolio{
  padding: 2em 0;
  background-color: #f1f1f1;
  .title {
    @extend .no-margin;
    @extend .text-center;
    color: #333;
  }
  .card {
    background-color: #fff;
    color: #333;
    height: 485px;
    margin-top: 1.5em;
    border-bottom: 2px solid #2f937b;
    .img {
      height: 255px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .caption {
      color: #222;
      padding: 0.5em;
      label {display: block;}
      a {font-size: 0.8em;}
    }
  }
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 0.5em;
  .share-button {
    border-radius:50%;
    border: 1px solid #cfcfcf;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-top: 1em;
    cursor: pointer;
    a{color: #cfcfcf; text-decoration: none;}
    &:hover.twitter { 
      background-color: #1da1f2;
      border-color: #1da1f2;
      color: #fff;
    }
    &:hover.facebook { 
      background-color: #3b5998;
      border-color: #3b5998;
      color: #fff;
    }
    &:hover.git { 
      background-color: #333333;
      border-color: #333333;
      color: #fff;
    }
  }
}

.nav {
  padding: 3em 0;
  background: transparent;
  font-size: 1.1em;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s;
  a {
    color: #cfcfcf;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin:0;
    float: right;
    li {
      display: inline-block;
      cursor: pointer;
      a {
        padding: 1.5em;
        color: #cfcfcf;
        text-decoration: none;

      }
    }
  }
  &.stick{
    background-color: #222;
    padding: 2em 0;
  }
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  video {
    // cubre toda la pantalla
    min-width: 100%;
    min-height: 100%;

    // para que navegador no altere
    width: auto;
    height: auto;

    // Centrarlo
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
} 