#about-me.row.center-xs.middle-xs.no-margin.about
  .col-md-offset-6.no-padding
    .box
      p ¿Quién soy?
      p Me llamo José, pero todos me dicen Jóse.
      p Me encanta el desarrollo Frontend.
      p Busco avanzar cada día mas en las tecnologias web. 
      p Aprender cada día algo nuevo es lo que me encanta. 
      p ¿Qué me caracteriza?
      p Autodidacta y apasionado.