footer.footer
  .row.no-margin
    .col-xs-6.no-padding
      .box
        .social-footer
          .social-button.twitter
            a(href="https://twitter.com/JoseMunozR_" target="_blank")
              span
                .fa.fa-twitter
          .social-button.facebook
            a(href="https://www.facebook.com/joozepp" target="_blank")
              span
                .fa.fa-facebook
          .social-button.git
            a(href="https://github.com/josemunozr" target="_blank")
              span
                .fa.fa-git
    .col-xs-6.no-padding
      .box.tag
        span.fa.fa-angle-left
        span.fa.fa-angle-right
        span con
        span.fa.fa-heart
        span por
        span JmunozR_
  .row.no-margin.copyright
    .col-xs-10.no-padding
      .box
       p © 2016 Copyright José Muñoz Ruiz
    .col-xs-2.no-padding
      .box.top
        p
          a(href="#home") Arriba
