include layout.jade
#home
.video-container
  video(autoplay='true', loop='', poster='./videos/poster/Aloha-Mundo.jpg')
    source(src='./videos/mp4/Aloha-Mundo.mp4', typ='video/mp4')
    source(src='./videos/webm/Aloha-Mundo.webm', typ='video/webm')

.row.no-margin
  .col-xs-12.no-padding
    .box
      nav.nav
        .container
          .full
            a(href="#home") José Muñoz Ruiz
            ul
              li.nav-item.home
                a(href="#home") Home
              li.nav-item.pf
                a(href="#portafolio") Portafolio
              li.nav-item.aboutme
                a(href="#about-me") Sobre mi
          .responsive
            ul
              li.nav-item.home
                a(href="#home") Home
              li.nav-item.pf
                a(href="#portafolio") Portafolio
              li.nav-item.aboutme
                a(href="#about-me") Sobre mi
          <i class='fa fa-bars fa-close white-text menu-opener'></i>

//- Home
include home.jade
//- Portafolio
include portafolio.jade
//- Aboutme
include about.jade
//- Contact
include footer.jade

script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(src="./js/bootstrap.min.js")
script(src="./js/index.js")
