include layout.jade
#home
.video-container
  video(autoplay='', loop='', poster='./videos/poster/Aloha-Mundo.jpg')
    source(src='./videos/mp4/Aloha-Mundo.mp4', typ='video/mp4')
    source(src='./videos/webm/Aloha-Mundo.webm', typ='video/webm')

nav.nav
  .container
    a(href="#home") José Muñoz Ruiz
    ul
      li
        a(href="#home") Home
      li
        a(href="#about-me") Sobre mi
      li
        a(href="") Portafolio
      li
        a(href="") Contactame
.container
  .row.full-height.full-width.center-xs.middle-xs
    .col-xs-12
      .box
        .img-container
          img(src="./imgs/avatar-1.jpg" width="250" height="250")
aside.social
  .row.full-height.full-width.end-xs.middle-xs
    .col-xs-12
      .box
        .share-button.twitter
          a(href="https://twitter.com/JoseMunozR_" target="_blank")
            span
               .fa.fa-twitter
        .share-button.facebook
          a(href="https://www.facebook.com/joozepp" target="_blank")
            span
               .fa.fa-facebook
        .share-button.git
          a(href="https://github.com/josemunozr" target="_blank")
            span
               .fa.fa-git

.icon
  a(href="#about-me")
    span
      .fa.fa-chevron-down
.row
  .col-xs-12
    .box
      #about-me.about

