doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css")
    link(rel="stylesheet" href="./css/index.css")
    title José Muñoz Ruiz
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  body
    //if lt IE 9
      p.browserupgrade
        | Estás usando un navegador
        strong desactualizado.
        |       Por favor
        a(href='http://browsehappy.com/')
          | actualiza tu navegador para una mejor experiencia.