.row.no-margin
  .col-xs-12.no-padding
    .box
      #portafolio.portafolio
        h3.title Mis ultimos trabajos
        hr.hr-custom
        .container
          .row.center-xs.center-sm.center-md.center-lg.no-margin
            .col-xs-11.col-md-3.col-lg-4
              .card
                .img
                  img(src="./imgs/proyectos/tablet/tablet-1.png" width="100%")
                //- .caption
                //-   h4.text-center Toma de pedidos
                //-   p Plataforma Intranet para toma de pedidos desde Tablets.
                //-   label 
                //-     strong Empresa : 
                //-     |Gournet S.A.
                //-   label 
                //-     strong Año: 
                //-     |2016.
                //-   label 
                //-     strong Stack: 
                //-     |AngularJs, Css3 (Sass), C#, Sql Server.
                //-   label 
                //-     strong Url: 
                //-     a(href="http://demotablet.clubgournet.cl/" target="_blank") http://demotablet.clubgournet.cl/
            .col-xs-11.col-md-3.col-lg-4
              .card
                .img
                  img(src="./imgs/proyectos/reservas/reservas-cli-1.png" width="100%")
                //- .caption
                //-   h4.text-center Sistema de reservas
                //-   p Modulo de clientes para toma de reservas online.
                //-   label 
                //-     strong Empresa : 
                //-     |Gournet S.A.
                //-   label 
                //-     strong Año: 
                //-     |2015.
                //-   label 
                //-     strong Stack: 
                //-     |Html5, Css3, JavaScript, Bootstrap, Vb, Sql Server.
                //-   label 
                //-     strong Url: 
                //-     a(href="http://demoreservas.clubgournet.cl/" target="_blank") http://demoreservas.clubgournet.cl/
            .col-xs-11.col-md-3.col-lg-4
              .card
                .img
                  img(src="./imgs/proyectos/delivery/delivery-1.png" width="100%")
                //- .caption
                //-   h4.text-center Servicio Delivery
                //-   p Servicio delivery con integración de pedido web y punto de venta.
                //-   label 
                //-     strong Empresa : 
                //-     |Gournet S.A.
                //-   label 
                //-     strong Año: 
                //-     |2014.
                //-   label 
                //-     strong Stack: 
                //-     |Html5, Css3, JavaScript, Bootstrap, Vb, Sql Server.
                //-   label 
                //-     strong Url: 
                //-     a(href="http://delivery.clubgournet.cl/demos/demo_local.html" target="_blank") http://delivery.clubgournet.cl/demos/demo_local.html
            .col-xs-11.col-md-3.col-lg-4
              .card
                .img
                  img(src="./imgs/proyectos/reservas-back/reservas-1.png" width="100%")
            .col-xs-11.col-md-3.col-lg-4
              .card
                .img
                  img(src="./imgs/proyectos/my-restorant/myrestorant-1.png" width="100%")
                //- .caption
                //-   h4.text-center My Restorant
                //-   p Landing Page tipo para comercio gastronomico.
                //-   label 
                //-     strong Año: 
                //-     |2016.
                //-   label 
                //-     strong Stack: 
                //-     |Halm, Css3 (Sass), JavaScript.
                //-   label 
                //-     strong Url: 
                //-     a(href="https://my-restorant.herokuapp.com/" target="_blank") https://my-restorant.herokuapp.com/
                //-   label 
                //-     strong Repositorio: 
                //-     a(href="https://github.com/josemunozr/my-restaurant" target="_blank") https://github.com/josemunozr/my-restaurant
          .row.center-xs.no-margin.more
            .col-xs
              a(href="https://github.com/josemunozr?tab=repositories" target="_blanck") mas?...